#folder
.vscode

#file
linked_list/class/*.exe
linked_list/script/*.exe

stack/stack_array/*.exe
stack/stack_linked_list/*.exe

hash_table/hash_table_binary_tree/*.exe
hash_table/hash_table_list/*.exe
hash_table/hash_table_templated/*.exe

array_list/*exe

string_builder/string_builder/*exe
string_builder/string_builder_templated/*exe