#folder
.vscode

#file
cracking_the_coding_interview/chapter_1/*.exe
cracking_the_coding_interview/chapter_2/*.exe
cracking_the_coding_interview/chapter_3/*.exe
cracking_the_coding_interview/chapter_4/*.exe

data_structure/linked_list/class/*.exe
data_structure/linked_list/script/*.exe

data_structure/stack/stack_array/*.exe
data_structure/stack/stack_linked_list/*.exe

data_structure/hash_table/hash_table_binary_tree/*.exe
data_structure/hash_table/hash_table_list/*.exe
data_structure/hash_table/hash_table_templated/*.exe

data_structure/array_list/*exe

data_structure/string_builder/string_builder/*exe
data_structure/string_builder/string_builder_templated/*exe
